#search_wrapper {
  height: 660px;
  position: relative;
}
#search_wrapper img {
  width: 100%
}
#search_wrapper span.glyphicon-chevron-left,
#search_wrapper span.glyphicon-chevron-right {
  display: none
}

#search_area {
  top: -100px;
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 99;
}

#search {
  right: 0;
  left: 0;
  height: 100px;
  color: #ffffff;
  text-align: center;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  padding: 28px 0;
}
#search > .container {
  width: 800px;
  border: 1px;
  padding: 0;
}
#search .form-group {
  margin: 0 -3px 0 0;
}
#search .form-control {
  height: 38px;
  border-radius: 0;
}
#search .z5j-destination {
  width: 250px;
}

#checkin, #checkout {
  width: 120px;
  cursor: auto;
}

#checkin {
  margin: 0 -3px 0 0;
}

#search .adult, #search .child {
  width: 120px;
  height: 38px;
  color: #000000;
  border: 1px;
}

#community {
  background: #ffffff;
}
#community h2 {
  text-align: center;
  font-size: 200%;
  margin: 40px 0;
}
#community h3 {
  color: #1f8dd6;
}
#community p {
  color: #7f8c8d;
}
#community .mb {
  margin-bottom: 30px;
}