<link rel="stylesheet" href="css/landing.css">
  <div class="navbar navbar-default navbar-fixed-top z5j-background-transparent" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://test.zhu5jia.com">
          <img alt="zhu5jia" ng-src="media/favicon.png" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar_collapse">
        <ul class="nav navbar-nav navbar-right z5j-margin-top z5j-margin-right" ng-if="loggedOn==false">
          <li class="">
            <button class="btn btn-default">做房东</button>
          </li>
          <li class="">
          <button class="btn btn-link">
            <span class="glyphicon glyphicon-question-sign"></span> 帮助
          </button>
          </li>
          <li class="">
          <button class="btn btn-primary" ng-click="openSignup('.modal-parent')">
            <span class="glyphicon glyphicon-pencil"></span> 注册
          </button>
          </li>
          <li class="">
          <button class="btn btn-link" ng-click="openLogin('.modal-parent')">
            <span class="glyphicon glyphicon-user"></span> 登录
          </button>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right z5j-margin-top z5j-margin-right" ng-if="loggedOn==true">
          <li class="">
            <button class="btn btn-link">
              <span class="glyphicon glyphicon-user"></span> 房东
            </button>
          </li>
          <li class="">
            <button class="btn btn-link">
              <span class="glyphicon glyphicon-question-sign"></span> 帮助
            </button>
          </li>
          <li class="">
            <button class="btn btn-link">
              <span class="glyphicon glyphicon-bell"></span> 通知
            </button>
          </li>
          <li class="">
            <button class="btn btn-link" ng-click="gotoUser()">{{me.users.lastname}}
              <span ng-if="me.users.gender!='F'">先生</span>
              <span ng-if="me.users.gender=='F'">女士</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="search_wrapper">
    <div uib-carousel active="active" interval="transInterval" no-transition="noTransition" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </div>
    </div>

    <div id="search_area">
      <div id="search">
        <div class="container">
          <form class="form-inline" role="form" method="post">
            <div class="form-group">
              <label class="sr-only" for="">目的地</label>
              <input type="text" class="form-control z5j-destination" placeholder="我想去{{location}}" ng-model="destination" ng-show="destinationPopover.content.length==0"/>
              <input type="text" class="form-control z5j-destination" uib-popover-template="destinationPopover.templateUrl" placeholder="我想去{{location}}" ng-model="destination" popover-placement="bottom-left" popover-class="z5j-destination-popover" popover-trigger="'focus'" ng-show="destinationPopover.content.length>0"/>
            </div>
<script type="text/ng-template" id="destinationPopoverTemplate.html">
  <div class="form-group">
    <div ng-repeat="destinations in destinationPopover.content">
      <label ng-click="setDestination(destinations)">{{destinations}}</label>
    </div>
  </div>
</script>
            <div class="form-group">
              <label class="sr-only" for="">入住日期</label>
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fromDate" is-open="fromPopup.opened" datepicker-options="fromOptions" popup-placement="bottom-right" show-button-bar="false" ng-required="true" ng-click="fromOpen()" placeholder="入住" readonly/>
            </div>
            <div class="form-group">
              <label class="sr-only" for="">离开日期</label>
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="toDate" is-open="toPopup.opened" datepicker-options="toOptions" popup-placement="bottom-left" show-button-bar="false" ng-required="true" ng-click="toOpen()" placeholder="离开" readonly/>
            </div>
            <div class="form-group">
              <select class="form-control" ng-model="guestNo" ng-options="num.id as num.name for num in adultNo" >
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="startSearch()">我找</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div id="community">
    <div class="am-g am-container">
      <div class="am-u-lg-12">
        <h2>我们的社区</h2>
  
        <div id="community_scrollspy" class="am-g">
          <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 mb">
            <h3>
              <i class="am-icon-mobile am-icon-sm"></i>
              我自己的"住我家"
            </h3>
            <p>
              加入社区，分享我的故事。
            </p>
          </div>
  
          <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 mb">
            <h3>
              <i class="am-icon-cogs am-icon-sm"></i>
              旅行
            </h3>
            <p>
              了解如何让"住我家"帮助我周游世界。
            </p>
          </div>
   
          <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 mb">
            <h3>
              <i class="am-icon-check-square-o am-icon-sm"></i>
              美好时光
            </h3>
            <p>
              "住我家"社区成员分享各自的美好时光。
            </p>
          </div>
   
          <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 mb">
            <h3>
              <i class="am-icon-send-o am-icon-sm"></i>
              出租
            </h3>
            <p>
              了解如何让五湖四海的朋友们来"住我家"。
            </p>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <div class="z5j-footer">
</div>

<div class="modal-parent">
</div>